body {
  background: #f9f7fe;
  font-family: "Quicksand", sans-serif;
}

a {
  color: rgb(53, 175, 106);
}
.weather-app {
  background: white;
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  box-shadow: 0 30 px 50 px rgba(65, 40, 100, 0.08);
  border-radius: 16px;
  font-family: "Quicksand", sans-serif;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}
.search-form-input {
  background: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background: rgb(53, 175, 106);
  padding: 15px 20px;
  border: none;
  font-size: 16px;
  font-weight: 600px;
  border-radius: 6px;
  margin-left: 5px;
  color: white;
}

main {
  padding: 30px 0;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
footer {
  border-bottom: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}
